$color: red;
$pad: 25px;
h1 {
    color: $color;
}

div{ 
    p {
    font-family: 'Courier New', Courier, monospace;
    }
}

img {
    padding: $pad;
}

html {
    background: url('images/Virus-img.png');
    background-size: 700px 700px;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    
}
